@{
    ViewData["Title"] = "Erro";
}

<div class="page-container">
    <div class="main-content">
        <div class="page-error centered">
				
            <div class="error-symbol">
                <i class="fa-meh-o"></i>
            </div>
				
            <h2>
                Ocorreu um erro, por favor, contate os responsáveis!
            </h2>
				
        </div>
    </div>
</div>
