@using exac.backoffice.Models
@model System.Collections.Generic.List<QuestionViewModel>

@{
    ViewData["Title"] = "Perguntas";
    ViewData["Description"] = "Listagem de perguntas usadas no jogo";
    
    Layout = "_Layout";
}

<!-- Basic Setup -->
<div class="panel panel-default">
    <div class="panel-body">

        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $("#menu-question").addClass("active");
                $("#example-1").dataTable({
                    "processing": true,
                    "serverSide": true,
                    "orderMulti": false,
                    "order": [[ 1, "desc" ]],
                    "language": language,
                    "ajax": {
                        "url": "list",
                        "type": "POST",
                        "dataType": "json"
                    },
                    "columnDefs":  
                    [
                        {  
                            "visible": false,  
                            "searchable": false
                        }
                    ],  
                    "columns": [  
                        {
                            "width": "8%",
                            "name": "IsActive",
                            "className": "text-center",
                            "render": function(data, type, full, meta) {
                                if (full.isActive === true) {
                                    return '<div class="btn btn-success disabled btn-xs" style="background-color: #8dc63f !important; opacity: 1;">Ativo</div>';
                                } else {
                                    return '<div class="btn btn-secondary disabled btn-xs" style="background-color: #d5080f !important; opacity: 1;">Inativo</div>';
                                }
                            }
                        },
                        { "data": "statement", "name": "Statement", "width": "84%" },  
                     
                        {   "width": "8%",
                            "orderable": false,
                            "className": "text-center",
                            "render": function (data, type, full, meta)  
                                { return '<a class="btn btn-icon btn-blue btn-xs" href="/question/create/' + full.id + '"><i class="fa-edit"></i></a>'; }  
                        }
                    ]  
                });
            });
        </script>
        <div class="row">
            <button class="btn btn-secondary btn-icon btn-sm" style="float: right;" onclick="window.location.href='create'">
                <i class="fa-plus"></i>
                <span> Criar </span>
            </button>
        </div>
        
        <div class="row">
            <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Ativo</th>
                    <th>Pergunta</th>
                    <th></th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
</div>